<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Game name</th>
      <th>Item</th>
      <th>Total price</th>
      <th>Status</th>
      <th>Player name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < transactionData.length; i++) { %>
    <tr>
      <td><%= i + 1 %></td>
      <td>
        <ul class="list-inline">
          <li class="list-inline-item">
            <img
              width="48px"
              height="48px"
              src="http://localhost:3000/uploads/<%= transactionData[i].historyVoucherTopup.imageThumbnail %>"
              alt="game-thumbnail"
            />
          </li>
        </ul>
        <%= transactionData[i]?.historyVoucherTopup?.gameName %>
        <br />
        <%= transactionData[i]?.historyVoucherTopup?.category %>
      </td>

      <td>
        <%= transactionData[i]?.historyVoucherTopup?.coinQuantity %> <%=
        transactionData[i]?.historyVoucherTopup?.coinName %>
      </td>

      <!-- TABLE COLUMN : TOTAL PRICE -->
      <td>Rp. <%= transactionData[i]?.finalPrice ?? 0 %></td>

      <!-- TABLE COLUMN : TRANSACTION STATUS -->
      <td>
        <% if(transactionData[i]?.transactionStatus?.toUpperCase() ===
        "SUCCESS") { %>
        <div class="badge badge-success">
          <%= transactionData[i].transactionStatus.toUpperCase() %>
        </div>
        <% } else if(transactionData[i]?.transactionStatus?.toUpperCase() ===
        "PENDING") { %>
        <div class="badge badge-warning">
          <%= transactionData[i].transactionStatus.toUpperCase() %>
        </div>
        <% } else { %>
        <div class="badge badge-danger">
          <%= transactionData[i].transactionStatus.toUpperCase() %>
        </div>
        <% } %>
      </td>

      <td><%= transactionData[i]?.playerData?.name ?? '-' %></td>

      <td>
        <form
          style="display: inline-block"
          action="/transaction/Status/<%= transactionData[i]._id %>?status=failed&_method=PUT"
          method="POST"
        >
          <button type="submit" class="btn btn-danger btn-sm">
            <i class="fas fa-times-circle"></i> Reject
          </button>
        </form>
        <form
          style="display: inline-block"
          action="/transaction/Status/<%= transactionData[i]._id %>?status=success&_method=PUT"
          method="POST"
        >
          <button type="submit" class="btn btn-info btn-sm">
            <i class="fas fa-check"></i> Approve
          </button>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
