<%-include ../../partials/header.ejs %> <%-include ../../partials/navbar.ejs %>
<%-include ../../partials/sidebar.ejs %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Nominal</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/nominal">Nominal</a></li>
            <li class="breadcrumb-item active">Create Nominal Data</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Add Nominal Form</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form action="/nominal/create-nominal" method="post">
              <div class="card-body">
                <div class="form-group">
                  <label>Nominal (Coin) Type</label>
                  <select
                    class="form-control select2"
                    style="width: 100%"
                    name="nominal_type"
                    required
                  >
                    <option selected="selected">Choose coin type</option>
                    <% for(let i = 0; i < COIN_TYPE.length; i++) { %>
                    <option>
                      <%= COIN_TYPE[i][0].toUpperCase() +
                      COIN_TYPE[i].substring(1).toLowerCase() %>
                    </option>
                    <% } %>
                  </select>
                </div>
                <div class="form-group">
                  <label for="nominal_quantity">Nominal (Coin) Quantity</label>
                  <input
                    type="number"
                    class="form-control"
                    id="nominal_quantity"
                    value="0"
                    name="nominal_quantity"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="price">Total Price</label>
                  <input
                    type="number"
                    class="form-control"
                    id="price"
                    value="0"
                    name="price"
                    required
                  />
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<%-include ../../partials/footer.ejs %> <%-include ../../partials/script.ejs %>
