<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Nominal (Coin) Type</th>
      <th>Nominal (Coin) Quantity</th>
      <th>Total Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < nominalData.length; i++) { %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= nominalData[i].coinType %></td>
      <td><%= nominalData[i].coinQuantity %></td>
      <td><%= nominalData[i].price %></td>
      <td>
        <form
          action="/nominal/delete-nominal/<%= nominalData[i]._id %>?_method=DELETE"
          method="POST"
        >
          <a
            href="/nominal/edit-nominal/<%= nominalData[i]._id %>"
            class="btn btn-sm btn-warning"
            ><i class="fas fa-pencil-alt"></i> Edit</a
          >
          <button type="submit" class="btn btn-sm btn-danger">
            <i class="fas fa-trash"></i> Delete
          </button>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
